//@import '~bootstrap-css-only/css/bootstrap.min.css';
//@import 'assets/styles/Antd/antd.cleanui';
//@import 'assets/styles/CleanUI/cleanui';
//@import 'assets/styles/Bootstrap/bootstrap.cleanui';
//@import 'assets/styles/Chartist/chartist.cleanui';
//@import 'assets/styles/Nprogress/nprogress.cleanui';
//@import 'assets/styles/Rcdrawer/rcdrawer.cleanui';
//@import '~c3/c3.min.css';

$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 20px;
$fontSize6: 22px;


body {
  background-color: #F8F8F8 !important;
}


.ant-menu {
  z-index: 999 !important;
}

.mainContainer {
  background-color: #F8F8F8;
  padding: 75px 15px;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}

.card {
  box-shadow: 0px 1px 4px rgba(26, 26, 30, 0.1);
  border-radius: 6px;
  border: none;
}

.btnToggle {
  color: #1A1A1E;
  border-radius: 3px;
  border: none;
  margin: 5px;
  font-weight: bold;
}

.btnToggle.active {
  color: #1A1A1E;
  border-radius: 3px;
  border: none;
  margin: 5px;
  font-weight: bold;
  background: #ECF5FD;
}

.btnBigOval {
  font-size: $fontSize1;
  font-weight: bold;
  text-transform: uppercase;
  padding: 9px 20px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid black;
  boxShadow: none !important;
}

.btnBigOvalShadow {
  font-size: $fontSize1;
  font-weight: bold;
  text-transform: uppercase;
  //box-shadow: 0px 3px 3px rgba(26, 26, 30, 0.1) !important;
  padding: 9px 20px;
  height: 40px;
  border-radius: 5px;
}

.totalBalanceTitle {
  font-size: $fontSize3;
  font-weight: bolder;
  //text-transform: uppercase;
}

.totalBalance {
  color: #3574FA;
  font-size: $fontSize6;
}

.ant-collapse-header {
  padding: 0 !important;
}

.ant-collapse-content {
  border-top: none !important;
}

.ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse-item-disabled {
  .ant-collapse-header {
    cursor: default !important;
  }
}